.complaint-status-container {
    background-color: white;
    color: #007bff;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
  }
  